.header {
  background-color: #f0f0f0; /* Light mode background color */
  height: 100rem;
  width: 100%;
  padding-right: 0.5rem;
  margin-left: -0.5rem;
  justify-content: space-between;
  align-items: center;
}

.darkMode {
  background-color: #333; /* Dark mode background color */
  color: #fff; /* Text color in dark mode */
  height: 100rem;
  width: 100%;
  padding-right: 0.5rem;
  margin-left: -0.5rem;
  justify-content: space-between;
  align-items: center;
}